.wrapTodo {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid rgb(192, 192, 192);

  .todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: black;

    //shadow scroll
    max-height: 200px;
    overflow: auto;

    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,
      linear-gradient(rgba(255, 255, 255, 0), white 70%) center bottom,
      radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center top,
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
  }

  .description {
    display: flex;
    color: rgba(16, 16, 16, 0.597);
    font-size: 13px;
    flex-wrap: wrap;
  }
}
